{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="about-section">
            <h1 class="section-title">À propos de moi</h1>
            <div class="about-container">
                <div class="about-image">
                    <img src="{{ asset('images/moi.png') }}" alt="image Maxime">
                </div>
                <div class="about-details">
                    <p>
                        Je m'appelle Maxime, et je suis un passionné de développement informatique. Mon parcours m'a permis d'acquérir de solides compétences en programmation, notamment en Java, Python, JavaScript et d'autres technologies.
                    </p>
                    <p>
                        J'ai à cœur de créer des projets qui allient efficacité et expérience utilisateur. Actuellement, je suis en troisième année de Licence MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises) et suis en recherche d'une alternance.
                    </p>
                    <a class="experience-link" href="{{ asset('Maxime VALIN - CV - maximeval.in .pdf') }}" target="_blank">CV Téléchargeable</a>
                </div>
            </div>
        </section>

        <section class="formation-section">
            <h2 class="section-title">Formation</h2>
            <div class="formation-container">
                <div class="formation-card">
                    <a href="https://sciences-techniques.univ-nantes.fr/" target="_blank"><h3>Licence MIAGE [2025-2026]</h3></a>
                    <p>
                        Actuellement en Licence MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises). Passionné par le développement logiciel, je me forme aux technologies utilisées pour concevoir des solutions informatiques adaptées aux besoins des entreprises.
                    </p>
                </div>
                <div class="formation-card">
                    <a href="https://coliniere.paysdelaloire.e-lyco.fr/" target="_blank"><h3>BTS SIO [2023-2025]</h3></a>
                    <p>
                        J'ai obtenu mon BTS SIO (Services Informatiques aux Organisations) & Cybersécurité, en spécialité SLAM (Solutions Logicielles et Applications Métiers).
                </div>
                <div class="formation-card">
                    <a href="https://caroline-aigle.paysdelaloire.e-lyco.fr/" target="_blank"><h3>Baccalauréat Général [2020-2023]</h3></a>
                    <p>
                        J'ai obtenu un bac général avec la spécialité AMC (Anglais Monde Contemporain) et NSI (Numérique et Sciences Informatiques), accompagné de l'option Mathématiques Complémentaires et Euro.
                    </p>
                </div>
            </div>
        </section>

        <section class="experience-section">
            <h2 class="section-title">Expériences professionnelles</h2>
            <div class="experience-container">
                {% for experience in experiences %}
                    <div class="experience-card">
                        <h3>{{ experience.label }}</h3>
                        <p>
                            {{ experience.shortDescription }}
                        </p>
                        <a href="{{ path('experience_show', {'id': experience.id}) }}" class="experience-link">En savoir plus</a>
                    </div>
                {% else %}
                    <p>Aucune expérience professionnelle à afficher pour le moment.</p>
                {% endfor %}
            </div>
        </section>

        <section class="skills-section">
            <h2 class="section-title">Compétences</h2>
            <div class="skills-container">
                {% for skillType in skillTypes %}
                    <div class="skill-type">
                        <h3 class="skill-type-title">{{ skillType.label }}</h3>
                        <ul class="skills-list">
                            {% for skill in skills %}
                                {% if skill.type.id == skillType.id %}
                                    <li>
                                        <a href="{{ path('skill_show', {'id': skill.id}) }}">{{ skill.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                        <p>Aucune compétence à afficher pour le moment.</p>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
