{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main>
        <div class="contact-section">
            <h1>Contactez-moi</h1>
            <p>Si vous avez des questions ou des demandes, n'hésitez pas à me contacter via le formulaire ci-dessous.</p>

            {{ form_start(form, {action: path('contact'), method: 'post'}) }}
                    <div class="form-group">
                        {{ form_label(form.name, 'Nom :') }}
                        {{ form_widget(form.name, {attr: {placeholder: 'Votre nom', class: 'form-input'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email :') }}
                        {{ form_widget(form.email, {attr: {placeholder: 'Votre adresse email', class: 'form-input'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, 'Objet :') }}
                        {{ form_widget(form.subject, {attr: {placeholder: 'Objet du message', class: 'form-textarea'}}) }}
                        {{ form_errors(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.message, 'Message :') }}
                        {{ form_widget(form.message, {attr: {placeholder: 'Votre message', rows: 5, class: 'form-textarea'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                    <button type="submit" class="submit-button">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
