{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3>Latest Messages</h3>
            <ol>
                {% if messages is empty %}
                    <p>No new message</p>
                {% else %}
                    {% for message in messages %}
                        <li>
                            <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\MessageCrudController')
                                .setAction('detail')
                                .setEntityId(message.id)
                            }}"><strong>{{ message.name }}</strong> ({{ message.email }}) - {{ message.createdAt|date('Y-m-d H:i')|date }}</a>
                            <p>{{ message.subject }}</p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ol>
        </div>
    </div>
{% endblock %}