{% extends '../../base.html.twig' %}

{% block body %}
    <main>
        <section class="admin-dashboard">
            <h1 class="dashboard-title">Tableau de bord - Compétences</h1>
            <a href="{{ path('admin') }}">Retour</a>

            <div class="actions-container">
                <a href="{{ path('newskill') }}" class="button button-add">Ajouter une compétence</a>
            </div>
            <div class="projects-table-container">
                {% if skills is not empty %}
                    <table class="projects-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for skill in skills %}
                            <tr>
                                <td>{{ skill.id }}</td>
                                <td>{{ skill.name }}</td>
                                <td>{{ skill.type.label }}</td>
                                <td>{{ skill.description|length > 50 ? skill.description[:50] ~ '...' : skill.description }}</td>
                                <td>
                                    <a href="{{ path('editskill', {id: skill.id}) }}" class="button button-edit">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Aucune compétence trouvée. Vous pouvez en ajouter une à l'aide du bouton ci-dessus.</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}