{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="skill-projects">
            <h1>Projets associés à {{ skill.name }}</h1>

            {% if skill.projects is not empty %}
                <div class="projects-list">
                    {% for project in skill.projects %}
                        <div class="project-item">
                            <h2>{{ project.name }}</h2>
                            <p>{{ project.shortDescription }}</p>
                            <a href="{{ path('project', { 'id': project.id }) }}" class="btn">Voir le projet</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun projet associé à cette compétence pour le moment.</p>
            {% endif %}
        </section>
        <section class="skill-experiences">
            <h1>Expériences associées à {{ skill.name }}</h1>

            {% if skill.experiences is not empty %}
                <div class="projects-list">
                    {% for experience in skill.experiences %}
                        <div class="project-item">
                            <h2>{{ experience.label }}</h2>
                            <p>{{ experience.shortDescription }}</p>
                            <a href="{{ path('experience_show', { 'id': experience.id }) }}" class="btn">Voir l'expérience</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucune expérience associée à cette compétence pour le moment.</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
