{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="experience-detail-section">
            <h1 class="section-title">{{ experience.label }}</h1>
            <div>{{ content|raw }}</div>
            <p>Entreprise: {{ experience.company }}</p>
            {% if experience.skills is not empty %}
                <h2>Compétences</h2>
                <ul class="skills-list">
                    {% for skill in experience.skills %}
                        <li><a href="{{ path('skill_show', {'id': skill.id}) }}">{{ skill.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </main>
{% endblock %}
