{% extends 'base.html.twig' %}
{% block title %}{{ project.name }}{% endblock %}
{% block body %}
    <main>
        <section class="details-section">
            <h1 class="details-title">{{ project.name }}</h1>
            <div class="details-content">
                <!-- <div class="project-image">
                    <img src="{% if project.imagePath is not null %}{{ asset(project.imagePath) }}{% endif %}" alt="{{ project.name }}">
                </div> -->
                <div class="project-description">
                    <div class="rich-content">{{ content|raw }}</div>
                </div>
            </div>
            <div class="details-additional-info">
                {% if project.skills is not empty %}
                    <h2>Compétences</h2>
                    <div class="skills-container">
                        <ul class="skills-list">
                            {% for skill in project.skills %}
                                <li><a href="{{ path('skill_show', {'id': skill.id}) }}">{{ skill.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if project.createdAt %}
                    <p class="project-date">Créé le : {{ project.createdAt|date('d/m/Y') }}</p>
                {% endif %}
                {% if project.repolink %}
                <a href="{{ project.repolink }}" target="_blank">Lien vers le repository Git</a>
                {% endif %}
                {% if project.link %}
                <a href="{{ project.link }}" target="_blank">Lien vers le projet</a>
                {% endif %}
            </div>
            <a href="{{ path('projects') }}" class="back-to-projects">Retour aux projets</a>
        </section>
    </main>
{% endblock %}
