{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="project-details-section">
            <h1 class="project-title">{{ project.name }}</h1>
            <div class="project-content">
                <div class="project-image">
                    <img src="{{ asset(project.imagePath) }}" alt="{{ project.name }}">
                </div>
                <div class="project-description">
                    {{ content|raw }}
                </div>
            </div>
            <div class="project-additional-info">
                {% if project.skills is not empty %}
                    <h2>Compétences</h2>
                    <ul class="skills-list">
                        {% for skill in project.skills %}
                            <li><a href="{{ path('skill_show', {'id': skill.id}) }}">{{ skill.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if project.createdAt %}
                    <p class="project-date">Créé le : {{ project.createdAt|date('d/m/Y') }}</p>
                {% endif %}
                {% if project.repolink %}
                <a href="{{ project.repolink }}" target="_blank">Lien vers le repository Git</a>
                {% endif %}
                {% if project.link %}
                <a href="{{ project.link }}" target="_blank">Lien vers le projet</a>
                {% endif %}
            </div>
            <a href="{{ path('projects') }}" class="back-to-projects">Retour aux projets</a>
        </section>
    </main>
{% endblock %}
